<!-- NG-ZORRO -->

<!-- Este bloco é exibido se nenhum usuário estiver logado -->
<div *ngIf="!isClientLoggedIn && !isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929">
    
    <div>
      <h2 style="color: white; padding-left: 10px">Sistema de anúncio de reserva de serviços</h2>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/" routerLinkActive="active">Home</a>
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Registrar</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>

  <!-- Seção de boas-vindas com imagem, exibida apenas se showWelcomeImage for true -->
  <div *ngIf="showWelcomeImage">
    <nz-card nzTitle="Bem-vindo ao Sistema de Anúncio de Reservas de Serviços" style="margin: 20px; border-radius: 10px; overflow: hidden; text-align: center;">
      <div style="text-align: center;">
        <img src="../../../assets/img/home.jpg" alt="Imagem de Boas-vindas" style="width: 50%; height: auto; border-radius: 10px;">
      </div>
      <div style="margin-top: 15px; text-align: center;">
        <p style="font-size: 18px; color: #003973;">Descubra e reserve serviços com facilidade.</p>
      </div>
      <div style="text-align: center;">
        <a nz-button nzType="primary" style="background-color: #bb2929; border-color: #bb2929;" routerLink="/login" routerLinkActive="active">
          Comece Agora
        </a>
      </div>
    </nz-card>

    <nz-footer class="custom-footer">
      <div class="footer-content">
        | Sistema de Anúncio de Serviços | - © 2024 Copyright: Daniel Penelva de Andrade
      </div>
    </nz-footer>
  </div>
</div>

<!-- Este bloco é exibido se o usuário Cliente estiver logado -->
<div *ngIf="isClientLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
    <div>
      <h2 style="color: white; padding-left: 10px;">Sistema de anúncio de reservas de serviços</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Painel</a>
      <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Reservas</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/dashboard" routerLinkActive="active">Painel</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/client/bookings" routerLinkActive="active">Reservas</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<!-- Este bloco é exibido se o usuário Empresa estiver logado -->
<div *ngIf="isCompanyLoggedIn">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
    <div>
      <h2 style="color: white; padding-left: 10px;">Sistema de anúncio de reservas de serviços</h2>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Painel</a>
      <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Publicar Anúncio</a>
      <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Anúncios</a>
      <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>

  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
    <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/dashboard" routerLinkActive="active">Painel</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ad" routerLinkActive="active">Publicar Anúncio</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" routerLink="/company/ads" routerLinkActive="active">Anúncios</a>
      </li>
      <li nz-menu-item>
        <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </nz-sider>
</div>

<router-outlet></router-outlet>

<!-- Este script implementa uma navegação condicional no sistema de reservas, exibindo diferentes cabeçalhos e menus laterais para clientes e 
empresas logadas, além de fornecer uma interface básica para usuários que ainda não estão autenticados. Ele também é responsivo e adaptado para 
dispositivos móveis com o uso de nz-sider da biblioteca NG-Zorro.-->