<div class="container">
    <div class="section">
        <div class="header">
            <h1>Bem-vindo ao sistema de anúncio de reservas de serviços!</h1>
            <p>Escolha seu tipo para começar:</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_company">
                Registre-se como Empresa
            </button>
            <button nz-button nzType="primary" routerLink="/register_client">
                Registre-se como Cliente
            </button>
        </div>
    </div>
</div>
